[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "*"
uvicorn = "*"
jinja2 = "*"
python-multipart = "*"
pydantic = {extras = ["email"], version = "*"}
sqlmodel = "*"
beanie = "*"
passlib = {extras = ["bcrypt"], version = "*"}

[dev-packages]

[requires]
python_version = "3.10"
